@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;

0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .header-logo {
  width: 70px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  margin: 0 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
  color: #2c3136;
}

header nav ul li.active {
  border-bottom: 3px solid #0282f9;
}

header nav ul li.active a {
  color: #0282f9;
}

